USE [Medeski]
GO
/****** Object:  Table [dbo].[GE_TCALCULOGASTOSVIAJE]    Script Date: 07/24/2017 1:12:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TCALCULOGASTOSVIAJE](
	[tari_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[tari_grupo] [int] NOT NULL,
	[tari_destino] [int] NOT NULL,
	[tari_hotel] [decimal](18, 6) NOT NULL,
	[tari_alimentacion] [decimal](18, 6) NOT NULL,
	[tari_estado] [int] NOT NULL CONSTRAINT [DF_GE_TCALCULOGASTOSVIAJE_tari_estado]  DEFAULT ((1)),
	[tari_usuario] [varchar](30) NOT NULL,
	[tari_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TCALCULOGASTOSVIAJE_tari_fecha]  DEFAULT (getdate()),
 CONSTRAINT [PK_GE_TCALCULOGASTOSVIAJE] PRIMARY KEY CLUSTERED 
(
	[tari_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TCARGUEARCHIVOS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TCARGUEARCHIVOS](
	[carg_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[carg_producto] [int] NOT NULL,
	[carg_periodo] [int] NOT NULL,
	[carg_empresa] [varchar](100) NULL,
	[carg_ccosto] [varchar](50) NULL,
	[carg_user] [varchar](50) NULL,
	[carg_item] [varchar](50) NULL,
	[carg_equipo] [varchar](50) NULL,
	[carg_leasing] [varchar](50) NULL,
	[carg_papel] [varchar](50) NULL,
	[carg_mes] [varchar](50) NULL,
	[carg_proveedor] [varchar](50) NULL,
	[carg_cantidad] [varchar](50) NULL,
	[carg_valor] [varchar](50) NULL,
	[carg_observacion] [varchar](500) NULL,
	[carg_usuario] [varchar](50) NULL,
	[carg_fecha] [datetime] NULL CONSTRAINT [DF_GE_TCARGUEARCHIVOS_carg_fecha]  DEFAULT (getdate()),
 CONSTRAINT [PK_GE_TCARGUEARCHIVOS] PRIMARY KEY CLUSTERED 
(
	[carg_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TCARGUEARCHIVOSLABORAL]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TCARGUEARCHIVOSLABORAL](
	[carl_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[carl_periodo] [int] NOT NULL,
	[carl_categoria] [varchar](50) NULL,
	[carl_subcategoria] [varchar](50) NULL,
	[carl_tipo] [varchar](50) NULL,
	[carl_auxiliar] [varchar](50) NULL,
	[carl_ccosto] [varchar](50) NULL,
	[carl_ppto] [varchar](50) NULL,
	[carl_mes] [varchar](50) NULL,
	[carl_valor] [decimal](18, 0) NULL,
	[carl_usuario] [varchar](50) NULL,
	[carl_fecha] [datetime] NULL CONSTRAINT [DF_GE_TCARGUEARCHIVOSLABORAL_carl_fecha]  DEFAULT (getdate()),
 CONSTRAINT [PK_GE_TCARGUEARCHIVOSLABORAL] PRIMARY KEY CLUSTERED 
(
	[carl_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TCENTROCOSTOPERSONA]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TCENTROCOSTOPERSONA](
	[cepe_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[cepe_ceco] [int] NOT NULL,
	[cepe_pers] [int] NOT NULL,
	[cepe_activo] [int] NOT NULL,
	[cepe_usuario] [varchar](30) NOT NULL,
	[cepe_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TCENTROCOSTOPERSONA_cepe_fecha]  DEFAULT (getdate()),
 CONSTRAINT [PK_GE_TCENTROCOSTOPERSONA] PRIMARY KEY CLUSTERED 
(
	[cepe_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TCENTROSCOSTOS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TCENTROSCOSTOS](
	[cost_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[cost_codigo] [varchar](50) NOT NULL,
	[cost_descripcion] [varchar](500) NOT NULL,
	[cost_centro_operacion] [varchar](50) NOT NULL,
	[cost_consec_responsable] [int] NOT NULL,
	[cost_ppto_interno] [int] NOT NULL,
	[cost_cuenta_especial] [int] NOT NULL,
	[cost_consec_resp_ppto] [int] NOT NULL,
	[cost_consec_categoria] [int] NOT NULL,
	[cost_activo] [int] NOT NULL CONSTRAINT [DF_GE_TCENTROSCOSTOS_cost_activo]  DEFAULT ((1)),
	[cost_usuario] [varchar](30) NOT NULL,
	[cost_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TCENTROSCOSTOS_cost_fecha]  DEFAULT (getdate()),
	[cost_usuario_act] [varchar](30) NOT NULL,
	[cost_fecha_act] [datetime] NOT NULL CONSTRAINT [DF_GE_TCENTROSCOSTOS_cost_fecha_act]  DEFAULT (getdate()),
 CONSTRAINT [PK_GE_TCENTROSCOSTOS] PRIMARY KEY CLUSTERED 
(
	[cost_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TCLASESPARAMETROS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TCLASESPARAMETROS](
	[clap_clase] [int] IDENTITY(1,1) NOT NULL,
	[clap_nombre] [varchar](100) NOT NULL,
	[clap_descripcion] [varchar](300) NOT NULL,
	[clap_fechaini] [date] NOT NULL,
	[clap_fechafin] [date] NULL,
	[clap_estado] [int] NOT NULL DEFAULT ((1)),
 CONSTRAINT [PK_CLAP_CLASE] PRIMARY KEY CLUSTERED 
(
	[clap_clase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN_GE_TCLASESPARAMETROS] UNIQUE NONCLUSTERED 
(
	[clap_nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TCUENTAS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TCUENTAS](
	[cuen_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[cuen_auxiliar] [varchar](50) NOT NULL,
	[cuen_descripcion] [varchar](500) NOT NULL,
	[cuen_mayor] [varchar](50) NOT NULL,
	[cuen_activo] [int] NOT NULL CONSTRAINT [DF_GE_TCUENTAS_cuen_activo]  DEFAULT ((1)),
	[cuen_usuario] [varchar](30) NOT NULL,
	[cuen_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TCUENTAS_cuen_fecha]  DEFAULT (getdate()),
	[cuen_amortizar] [int] NULL CONSTRAINT [DF_GE_TCUENTAS_cuen_amortizar]  DEFAULT ((0)),
 CONSTRAINT [PK_GE_TCUENTAS] PRIMARY KEY CLUSTERED 
(
	[cuen_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TCUENTASCLASIFICACION]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TCUENTASCLASIFICACION](
	[cucl_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[cucl_cuenta] [int] NOT NULL,
	[cucl_ccosto] [int] NOT NULL,
	[cucl_subcategoria] [int] NOT NULL,
	[cucl_tipo] [int] NOT NULL,
	[cucl_usuario] [varchar](30) NOT NULL,
	[cucl_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TCUENTASCLASIFICACION_cucl_fecha]  DEFAULT (getdate()),
 CONSTRAINT [PK_GE_TCUENTASCLASIFICACION] PRIMARY KEY CLUSTERED 
(
	[cucl_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TDOMINIOS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TDOMINIOS](
	[domi_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[domi_nombre] [varchar](100) NOT NULL,
	[domi_estado] [int] NOT NULL,
	[domi_fecha] [date] NULL,
	[domi_grupo] [varchar](200) NULL,
 CONSTRAINT [PK_DOMI_CONSECUTIVO] PRIMARY KEY CLUSTERED 
(
	[domi_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TOPCIONESMENU]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TOPCIONESMENU](
	[opcm_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[opcm_idpadre] [int] NOT NULL,
	[opcm_idonma] [int] NOT NULL,
	[opcm_idpadreonma] [int] NOT NULL,
	[opcm_idobjetoonma] [int] NOT NULL,
	[opcm_titulo] [varchar](200) NOT NULL,
	[opcm_descripcion] [varchar](500) NULL,
	[opcm_url] [varchar](1000) NULL,
	[opcm_ruta_imagen] [varchar](1000) NULL,
	[opcm_estado] [int] NOT NULL DEFAULT ((1)),
	[opcm_fecha] [date] NOT NULL,
	[opcm_fecha_act] [date] NOT NULL,
	[opcm_tipo] [varchar](20) NOT NULL,
	[opcm_usuario] [varchar](50) NULL,
	[opcm_usuario_act] [varchar](50) NULL,
 CONSTRAINT [PK_OPCM_CONSECUTIVO] PRIMARY KEY CLUSTERED 
(
	[opcm_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TOPCIONESMENUXROL]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TOPCIONESMENUXROL](
	[opcr_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[rolm_consecutivo] [int] NOT NULL,
	[opcm_consecutivo] [int] NOT NULL,
	[opcr_fecha] [date] NULL,
	[opcr_usuario] [varchar](50) NULL,
 CONSTRAINT [PK_OPCR_CONSECUTIVO] PRIMARY KEY CLUSTERED 
(
	[opcr_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TPARAMETROS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TPARAMETROS](
	[parm_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[clap_clase] [int] NOT NULL,
	[parm_descripcion] [varchar](500) NULL,
	[parm_fechadesde] [date] NOT NULL,
	[parm_fechahasta] [date] NULL,
	[parm_estado] [int] NOT NULL DEFAULT ((1)),
	[parm_infoadicional] [varchar](100) NULL,
	[parm_codigo] [varchar](50) NULL,
 CONSTRAINT [PK_PARM_CONSECUTIVO] PRIMARY KEY CLUSTERED 
(
	[parm_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_GE_TPARAMETROS] UNIQUE NONCLUSTERED 
(
	[clap_clase] ASC,
	[parm_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TPERIODOPRESUPUESTO]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TPERIODOPRESUPUESTO](
	[peri_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[peri_ano] [int] NOT NULL,
	[peri_activo] [int] NOT NULL,
	[peri_usuario] [varchar](30) NOT NULL,
	[peri_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TPERIODOPRESUPUESTO_peri_fecha]  DEFAULT (getdate()),
 CONSTRAINT [PK_GE_TPERIODOPRESUPUESTO] PRIMARY KEY CLUSTERED 
(
	[peri_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TPERIODOTRANSACCIONES]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TPERIODOTRANSACCIONES](
	[petr_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[petr_periodo] [int] NOT NULL,
	[petr_persona] [int] NOT NULL,
	[petr_centrocosto] [int] NOT NULL,
	[petr_producto_item] [int] NOT NULL,
	[petr_moneda] [int] NOT NULL,
	[petr_valor] [decimal](18, 6) NOT NULL,
	[petr_valor_amortizar] [decimal](18, 6) NOT NULL,
	[petr_mes] [int] NOT NULL,
	[petr_proveedor] [int] NOT NULL,
	[petr_trm] [decimal](18, 6) NOT NULL,
	[petr_cantidad] [int] NOT NULL,
	[petr_tipo_viaje] [int] NULL,
	[petr_amortizar] [int] NOT NULL,
	[petr_observacion] [varchar](1000) NOT NULL,
	[petr_activo] [int] NOT NULL CONSTRAINT [DF_GE_TPERIODOTRANSACCIONES_petr_activo]  DEFAULT ((1)),
	[petr_usuario] [varchar](30) NOT NULL,
	[petr_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TPERIODOTRANSACCIONES_petr_fecha]  DEFAULT (getdate()),
	[petr_usuario_act] [varchar](30) NOT NULL,
	[petr_fecha_act] [datetime] NOT NULL CONSTRAINT [DF_GE_TPERIODOTRANSACCIONES_petr_fecha_act]  DEFAULT (getdate()),
	[petr_meses_amortizar] [int] NULL,
	[petr_tipo] [varchar](50) NULL,
 CONSTRAINT [PK_GE_TPERIODOTRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[petr_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TPERIODOTRANSACCPERSONAS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TPERIODOTRANSACCPERSONAS](
	[ptrp_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[ptrp_periodo_transacc] [int] NOT NULL,
	[ptrp_persona] [int] NOT NULL,
	[ptrp_cantidad_dias] [int] NOT NULL,
	[ptrp_tarifa_hotel] [decimal](18, 6) NOT NULL,
	[ptrp_tarifa_alimentacion] [decimal](18, 6) NOT NULL,
	[ptrp_mes] [int] NOT NULL,
	[ptrp_smmlv] [decimal](18, 6) NOT NULL,
	[ptrp_usuario] [varchar](30) NOT NULL,
	[ptrp_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TPERIODOTRANSACCPERSONAS_ptrp_fecha]  DEFAULT (getdate()),
 CONSTRAINT [PK_GE_TPERIODOTRANSACCPERSONAS] PRIMARY KEY CLUSTERED 
(
	[ptrp_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TPERSONAS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TPERSONAS](
	[pers_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[pers_tipodoc] [varchar](10) NOT NULL,
	[pers_identificacion] [varchar](50) NOT NULL,
	[pers_nombres] [varchar](200) NOT NULL,
	[pers_consec_jefe] [int] NOT NULL,
	[pers_tipo_contrato] [int] NOT NULL,
	[pers_metodo_distrib] [int] NOT NULL,
	[pers_cargo] [int] NOT NULL,
	[pers_grupo] [int] NOT NULL,
	[pers_activo] [int] NOT NULL CONSTRAINT [DF_GE_TPERSONAS_pers_activo]  DEFAULT ((1)),
	[pers_usuario] [varchar](30) NOT NULL,
	[pers_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TPERSONAS_pers_fecha]  DEFAULT (getdate()),
	[pers_usuario_act] [varchar](30) NOT NULL,
	[pers_fecha_act] [datetime] NOT NULL CONSTRAINT [DF_GE_TPERSONAS_pers_fecha_act]  DEFAULT (getdate()),
	[pers_empresa] [int] NULL,
	[pers_ccosto] [int] NULL,
	[pers_usudom] [varchar](30) NULL,
	[pers_nombre_area] [varchar](50) NULL,
 CONSTRAINT [PK_GE_TPERSONAS] PRIMARY KEY CLUSTERED 
(
	[pers_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TPRODUCTOS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TPRODUCTOS](
	[prod_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[prod_codigo] [varchar](50) NOT NULL,
	[prod_descripcion] [varchar](500) NOT NULL,
	[prod_responsable] [int] NOT NULL,
	[prod_tipo_licencia] [int] NOT NULL,
	[prod_intermedio] [int] NOT NULL,
	[prod_contrato] [int] NOT NULL,
	[prod_componente] [int] NOT NULL,
	[prod_criterio] [int] NOT NULL,
	[prod_activo] [int] NOT NULL CONSTRAINT [DF_GE_TPRODUCTOS_prod_activo]  DEFAULT ((1)),
	[prod_usuario] [varchar](30) NOT NULL,
	[prod_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TPRODUCTOS_prod_fecha]  DEFAULT (getdate()),
	[prod_usuario_act] [varchar](30) NOT NULL,
	[prod_fecha_act] [datetime] NOT NULL CONSTRAINT [DF_GE_TPRODUCTOS_prod_fecha_act]  DEFAULT (getdate()),
	[prod_serv_venta] [int] NULL,
	[prod_driver1] [int] NULL,
	[prod_driver2] [int] NULL,
 CONSTRAINT [PK_GE_TPRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[prod_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_GE_TPRODUCTOS] UNIQUE NONCLUSTERED 
(
	[prod_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_GE_TPRODUCTOS_2] UNIQUE NONCLUSTERED 
(
	[prod_descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TPRODUCTOSITEMS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TPRODUCTOSITEMS](
	[prit_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[prit_producto] [int] NOT NULL,
	[prit_item] [varchar](200) NOT NULL,
	[prit_cuenta] [int] NOT NULL,
	[prit_activo] [int] NOT NULL,
	[prit_usuario] [varchar](30) NOT NULL,
	[prit_fecha] [datetime] NOT NULL,
	[prit_usuario_act] [varchar](30) NOT NULL,
	[prit_fecha_act] [datetime] NOT NULL,
 CONSTRAINT [PK_GE_TPRODUCTOSITEMS] PRIMARY KEY CLUSTERED 
(
	[prit_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_GE_TPRODUCTOSITEMS] UNIQUE NONCLUSTERED 
(
	[prit_producto] ASC,
	[prit_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TPROVEEDORES]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TPROVEEDORES](
	[prov_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[prov_nombre] [varchar](500) NOT NULL,
	[prov_descripcion] [varchar](50) NOT NULL,
	[prov_activo] [int] NOT NULL CONSTRAINT [DF_GE_TPROVEEDORES_prov_activo]  DEFAULT ((1)),
	[prov_usuario] [varchar](30) NOT NULL,
	[prov_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TPROVEEDORES_prov_fecha]  DEFAULT (getdate()),
 CONSTRAINT [PK_GE_TPROVEEDORES] PRIMARY KEY CLUSTERED 
(
	[prov_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TROLES]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TROLES](
	[rolm_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[rolm_nombre] [varchar](60) NOT NULL,
	[rolm_descripcion] [varchar](100) NULL,
	[rolm_estado] [int] NOT NULL DEFAULT ((1)),
	[rolm_fecha] [date] NOT NULL CONSTRAINT [DF_GE_TROLES_rolm_fecha]  DEFAULT (getdate()),
	[rolm_fecha_act] [date] NOT NULL CONSTRAINT [DF_GE_TROLES_rolm_fecha_act]  DEFAULT (getdate()),
	[rolm_usuario] [varchar](50) NULL,
	[rolm_usuario_act] [varchar](50) NULL,
	[rolm_grupo] [varchar](200) NOT NULL,
	[rolm_dominio] [varchar](100) NULL,
 CONSTRAINT [PK_ROLM_CONSECUTIVO] PRIMARY KEY CLUSTERED 
(
	[rolm_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TSALIDAPRESUPUESTO]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TSALIDAPRESUPUESTO](
	[sali_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[sali_periodo_transacc] [int] NOT NULL,
	[sali_persona] [int] NOT NULL,
	[sali_centrocosto] [int] NOT NULL,
	[sali_producto_item] [int] NOT NULL,
	[sali_mes] [int] NOT NULL,
	[sali_moneda] [int] NOT NULL,
	[sali_valor] [decimal](18, 6) NOT NULL,
	[sali_usuario] [varchar](30) NOT NULL,
	[sali_fecha] [datetime] NOT NULL,
	[sali_tipo] [varchar](50) NULL,
	[sali_periodo] [int] NULL,
 CONSTRAINT [PK_GE_TSALIDAPRESUPUESTO] PRIMARY KEY CLUSTERED 
(
	[sali_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TUSUARIOS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TUSUARIOS](
	[USUA_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USUA_USERNAME] [varchar](50) NULL,
	[USUA_CLAVE] [varchar](64) NULL,
	[USUA_DOMINIO] [varchar](100) NULL,
	[USUA_FECHA] [date] NULL,
	[USUA_HORA] [varchar](8) NULL CONSTRAINT [DF_GE_TUSUARIOS_USUA_HORA]  DEFAULT ('00:00:00'),
	[USUA_ESTADO] [int] NOT NULL CONSTRAINT [DF_GE_TUSUARIOS_USUA_ESTADO]  DEFAULT ((1)),
	[USUA_ENCRIPTA] [char](1) NULL CONSTRAINT [DF_GE_TUSUARIOS_USUA_ENCRIPTA]  DEFAULT (N'S'),
	[USUA_FECHAVENCE] [date] NULL,
	[USUA_FECHACAMBIO] [date] NULL,
	[USUA_FECHA_ACT] [date] NULL,
	[USUA_USUARIO_INS] [varchar](50) NULL,
	[USUA_USUARIO_ACT] [varchar](50) NULL,
	[PARM_TIPOUSUARIO] [int] NULL,
	[USUA_VALIDALDAP] [char](1) NULL CONSTRAINT [DF_GE_TUSUARIOS_USUA_VALIDALDAP]  DEFAULT ('S'),
 CONSTRAINT [PK__USUA_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USUA_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UX_GE_TUSUARIOS] UNIQUE NONCLUSTERED 
(
	[USUA_DOMINIO] ASC,
	[USUA_USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TUSUARIOS_ACCESOS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TUSUARIOS_ACCESOS](
	[usac_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[usua_usuario] [varchar](50) NOT NULL,
	[usac_fecha_ingreso] [date] NOT NULL,
	[usac_fecha_salida] [date] NULL,
	[usac_estado] [int] NOT NULL,
	[usac_tipo_salida] [varchar](50) NULL,
	[usac_hostname] [varchar](100) NULL,
	[usac_ip] [varchar](30) NULL,
	[usac_browser] [varchar](100) NULL,
	[usac_usuario_desbloqueo] [varchar](50) NULL,
	[usac_guid] [varchar](100) NULL,
	[usac_ipantesproxy] [varchar](100) NULL,
 CONSTRAINT [PK_USAC_CONSECUTIVO] PRIMARY KEY CLUSTERED 
(
	[usac_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TUSUARIOSXROL]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TUSUARIOSXROL](
	[usxr_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[rolm_consecutivo] [int] NOT NULL,
	[usua_usuario] [int] NOT NULL,
	[usxr_estado] [int] NOT NULL DEFAULT ((1)),
	[usxr_fecha] [date] NOT NULL,
	[usxr_fecha_act] [date] NOT NULL,
	[usxr_usuario] [varchar](50) NULL,
	[usxr_usuario_act] [varchar](50) NULL,
 CONSTRAINT [PK_USXR_CONSECUTIVO] PRIMARY KEY CLUSTERED 
(
	[usxr_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GE_TVARECONOMICAS]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GE_TVARECONOMICAS](
	[vari_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[vari_tipo_moneda] [int] NOT NULL,
	[vari_ano] [int] NOT NULL,
	[vari_mes] [int] NOT NULL,
	[vari_valor] [decimal](16, 8) NOT NULL,
	[vari_activo] [int] NOT NULL CONSTRAINT [DF_GE_TVARECONOMICAS_vari_activo]  DEFAULT ((1)),
	[vari_usuario] [varchar](50) NOT NULL,
	[vari_fecha] [datetime] NOT NULL CONSTRAINT [DF_GE_TVARECONOMICAS_vari_fecha]  DEFAULT (getdate()),
 CONSTRAINT [PK_GE_TVARECONOMICAS] PRIMARY KEY CLUSTERED 
(
	[vari_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARAMETROSGRALES]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAMETROSGRALES](
	[pmgr_parametro] [varchar](50) NOT NULL,
	[pmgr_descripcion] [varchar](200) NOT NULL,
	[pmgr_estado] [int] NOT NULL DEFAULT ((1)),
	[parm_grupo] [int] NOT NULL,
	[parm_tipodato] [int] NOT NULL,
 CONSTRAINT [PK_PMGR_PARAMETRO] PRIMARY KEY CLUSTERED 
(
	[pmgr_parametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VLRSPRMGRALES]    Script Date: 07/24/2017 1:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[VLRSPRMGRALES](
	[vhpg_consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[pmgr_parametro] [varchar](50) NOT NULL,
	[vhpg_fecdesde] [date] NOT NULL,
	[vhpg_fechasta] [date] NULL,
	[vhpg_estado] [int] NOT NULL,
	[vhpg_valor] [varchar](300) NOT NULL,
 CONSTRAINT [PK_VHPG_CONSECUTIVO] PRIMARY KEY CLUSTERED 
(
	[vhpg_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GE_TDOMINIOS] ADD  DEFAULT ((1)) FOR [domi_estado]
GO
ALTER TABLE [dbo].[GE_TUSUARIOS_ACCESOS] ADD  DEFAULT ((1)) FOR [usac_estado]
GO
ALTER TABLE [dbo].[GE_TCALCULOGASTOSVIAJE]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCALCULOGASTOSVIAJE_DESTINO] FOREIGN KEY([tari_destino])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCALCULOGASTOSVIAJE] CHECK CONSTRAINT [FK_GE_TCALCULOGASTOSVIAJE_DESTINO]
GO
ALTER TABLE [dbo].[GE_TCALCULOGASTOSVIAJE]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCALCULOGASTOSVIAJE_GRUPO] FOREIGN KEY([tari_grupo])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCALCULOGASTOSVIAJE] CHECK CONSTRAINT [FK_GE_TCALCULOGASTOSVIAJE_GRUPO]
GO
ALTER TABLE [dbo].[GE_TCARGUEARCHIVOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCARGUEARCHIVOS_PERIODO] FOREIGN KEY([carg_periodo])
REFERENCES [dbo].[GE_TPERIODOPRESUPUESTO] ([peri_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCARGUEARCHIVOS] CHECK CONSTRAINT [FK_GE_TCARGUEARCHIVOS_PERIODO]
GO
ALTER TABLE [dbo].[GE_TCARGUEARCHIVOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCARGUEARCHIVOS_PRODUCTO] FOREIGN KEY([carg_producto])
REFERENCES [dbo].[GE_TPRODUCTOS] ([prod_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCARGUEARCHIVOS] CHECK CONSTRAINT [FK_GE_TCARGUEARCHIVOS_PRODUCTO]
GO
ALTER TABLE [dbo].[GE_TCARGUEARCHIVOSLABORAL]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCARGUEARCHIVOSLABORAL_PRESUPUESTO] FOREIGN KEY([carl_periodo])
REFERENCES [dbo].[GE_TPERIODOPRESUPUESTO] ([peri_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCARGUEARCHIVOSLABORAL] CHECK CONSTRAINT [FK_GE_TCARGUEARCHIVOSLABORAL_PRESUPUESTO]
GO
ALTER TABLE [dbo].[GE_TCENTROSCOSTOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCENTROSCOSTOS_CATEGORIA] FOREIGN KEY([cost_consec_categoria])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCENTROSCOSTOS] CHECK CONSTRAINT [FK_GE_TCENTROSCOSTOS_CATEGORIA]
GO
ALTER TABLE [dbo].[GE_TCENTROSCOSTOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCENTROSCOSTOS_PERSONAS] FOREIGN KEY([cost_consec_responsable])
REFERENCES [dbo].[GE_TPERSONAS] ([pers_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCENTROSCOSTOS] CHECK CONSTRAINT [FK_GE_TCENTROSCOSTOS_PERSONAS]
GO
ALTER TABLE [dbo].[GE_TCENTROSCOSTOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCENTROSCOSTOS_RESP_PPTO] FOREIGN KEY([cost_consec_resp_ppto])
REFERENCES [dbo].[GE_TPERSONAS] ([pers_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCENTROSCOSTOS] CHECK CONSTRAINT [FK_GE_TCENTROSCOSTOS_RESP_PPTO]
GO
ALTER TABLE [dbo].[GE_TCUENTASCLASIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCUENTASCLASIFICACION_CENTROCOSTO] FOREIGN KEY([cucl_ccosto])
REFERENCES [dbo].[GE_TCENTROSCOSTOS] ([cost_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCUENTASCLASIFICACION] CHECK CONSTRAINT [FK_GE_TCUENTASCLASIFICACION_CENTROCOSTO]
GO
ALTER TABLE [dbo].[GE_TCUENTASCLASIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCUENTASCLASIFICACION_CUENTA] FOREIGN KEY([cucl_cuenta])
REFERENCES [dbo].[GE_TCUENTAS] ([cuen_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCUENTASCLASIFICACION] CHECK CONSTRAINT [FK_GE_TCUENTASCLASIFICACION_CUENTA]
GO
ALTER TABLE [dbo].[GE_TCUENTASCLASIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCUENTASCLASIFICACION_SUBCATEGORIA] FOREIGN KEY([cucl_subcategoria])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCUENTASCLASIFICACION] CHECK CONSTRAINT [FK_GE_TCUENTASCLASIFICACION_SUBCATEGORIA]
GO
ALTER TABLE [dbo].[GE_TCUENTASCLASIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_GE_TCUENTASCLASIFICACION_TIPO] FOREIGN KEY([cucl_tipo])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TCUENTASCLASIFICACION] CHECK CONSTRAINT [FK_GE_TCUENTASCLASIFICACION_TIPO]
GO
ALTER TABLE [dbo].[GE_TOPCIONESMENUXROL]  WITH CHECK ADD  CONSTRAINT [FK_OPCR_OPCM_CONSECUTIVO] FOREIGN KEY([opcm_consecutivo])
REFERENCES [dbo].[GE_TOPCIONESMENU] ([opcm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TOPCIONESMENUXROL] CHECK CONSTRAINT [FK_OPCR_OPCM_CONSECUTIVO]
GO
ALTER TABLE [dbo].[GE_TOPCIONESMENUXROL]  WITH CHECK ADD  CONSTRAINT [FK_OPCR_ROLM_CONSECUTIVO] FOREIGN KEY([rolm_consecutivo])
REFERENCES [dbo].[GE_TROLES] ([rolm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TOPCIONESMENUXROL] CHECK CONSTRAINT [FK_OPCR_ROLM_CONSECUTIVO]
GO
ALTER TABLE [dbo].[GE_TPARAMETROS]  WITH CHECK ADD  CONSTRAINT [FK_PARM_CLAP_CLASE] FOREIGN KEY([clap_clase])
REFERENCES [dbo].[GE_TCLASESPARAMETROS] ([clap_clase])
GO
ALTER TABLE [dbo].[GE_TPARAMETROS] CHECK CONSTRAINT [FK_PARM_CLAP_CLASE]
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_CENTROCOSTO] FOREIGN KEY([petr_centrocosto])
REFERENCES [dbo].[GE_TCENTROSCOSTOS] ([cost_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES] CHECK CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_CENTROCOSTO]
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_MONEDA] FOREIGN KEY([petr_moneda])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES] CHECK CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_MONEDA]
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_PERIODO] FOREIGN KEY([petr_periodo])
REFERENCES [dbo].[GE_TPERIODOPRESUPUESTO] ([peri_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES] CHECK CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_PERIODO]
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_PERSONA] FOREIGN KEY([petr_persona])
REFERENCES [dbo].[GE_TPERSONAS] ([pers_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES] CHECK CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_PERSONA]
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_PRODUCTOITEM] FOREIGN KEY([petr_producto_item])
REFERENCES [dbo].[GE_TPRODUCTOSITEMS] ([prit_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES] CHECK CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_PRODUCTOITEM]
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_PROVEEDOR] FOREIGN KEY([petr_proveedor])
REFERENCES [dbo].[GE_TPROVEEDORES] ([prov_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES] CHECK CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_PROVEEDOR]
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_TIPOVIAJE] FOREIGN KEY([petr_tipo_viaje])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCIONES] CHECK CONSTRAINT [FK_GE_TPERIODOTRANSACCIONES_TIPOVIAJE]
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCPERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERIODOTRANSACCPERSONAS_PERIODOTRANS] FOREIGN KEY([ptrp_periodo_transacc])
REFERENCES [dbo].[GE_TPERIODOTRANSACCIONES] ([petr_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCPERSONAS] CHECK CONSTRAINT [FK_GE_TPERIODOTRANSACCPERSONAS_PERIODOTRANS]
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCPERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERIODOTRANSACCPERSONAS_PERSONAS] FOREIGN KEY([ptrp_persona])
REFERENCES [dbo].[GE_TPERSONAS] ([pers_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERIODOTRANSACCPERSONAS] CHECK CONSTRAINT [FK_GE_TPERIODOTRANSACCPERSONAS_PERSONAS]
GO
ALTER TABLE [dbo].[GE_TPERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERSONAS_CARGO] FOREIGN KEY([pers_cargo])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERSONAS] CHECK CONSTRAINT [FK_GE_TPERSONAS_CARGO]
GO
ALTER TABLE [dbo].[GE_TPERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERSONAS_CCOSTO] FOREIGN KEY([pers_ccosto])
REFERENCES [dbo].[GE_TCENTROSCOSTOS] ([cost_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERSONAS] CHECK CONSTRAINT [FK_GE_TPERSONAS_CCOSTO]
GO
ALTER TABLE [dbo].[GE_TPERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERSONAS_EMPRESA] FOREIGN KEY([pers_empresa])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERSONAS] CHECK CONSTRAINT [FK_GE_TPERSONAS_EMPRESA]
GO
ALTER TABLE [dbo].[GE_TPERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERSONAS_GRUPO] FOREIGN KEY([pers_grupo])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERSONAS] CHECK CONSTRAINT [FK_GE_TPERSONAS_GRUPO]
GO
ALTER TABLE [dbo].[GE_TPERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERSONAS_JEFE] FOREIGN KEY([pers_consec_jefe])
REFERENCES [dbo].[GE_TPERSONAS] ([pers_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERSONAS] CHECK CONSTRAINT [FK_GE_TPERSONAS_JEFE]
GO
ALTER TABLE [dbo].[GE_TPERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERSONAS_METODO] FOREIGN KEY([pers_metodo_distrib])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERSONAS] CHECK CONSTRAINT [FK_GE_TPERSONAS_METODO]
GO
ALTER TABLE [dbo].[GE_TPERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPERSONAS_TIPOCONT] FOREIGN KEY([pers_tipo_contrato])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPERSONAS] CHECK CONSTRAINT [FK_GE_TPERSONAS_TIPOCONT]
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPRODUCTOS_COMPONENTE] FOREIGN KEY([prod_componente])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS] CHECK CONSTRAINT [FK_GE_TPRODUCTOS_COMPONENTE]
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPRODUCTOS_CRITERIO] FOREIGN KEY([prod_criterio])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS] CHECK CONSTRAINT [FK_GE_TPRODUCTOS_CRITERIO]
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPRODUCTOS_DRIVER1] FOREIGN KEY([prod_driver1])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS] CHECK CONSTRAINT [FK_GE_TPRODUCTOS_DRIVER1]
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPRODUCTOS_DRIVER2] FOREIGN KEY([prod_driver2])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS] CHECK CONSTRAINT [FK_GE_TPRODUCTOS_DRIVER2]
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPRODUCTOS_RESPONSABLE] FOREIGN KEY([prod_responsable])
REFERENCES [dbo].[GE_TPERSONAS] ([pers_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS] CHECK CONSTRAINT [FK_GE_TPRODUCTOS_RESPONSABLE]
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPRODUCTOS_SERV_VENTA] FOREIGN KEY([prod_serv_venta])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS] CHECK CONSTRAINT [FK_GE_TPRODUCTOS_SERV_VENTA]
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TPRODUCTOS_TIPO_LICENCIA] FOREIGN KEY([prod_tipo_licencia])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPRODUCTOS] CHECK CONSTRAINT [FK_GE_TPRODUCTOS_TIPO_LICENCIA]
GO
ALTER TABLE [dbo].[GE_TPRODUCTOSITEMS]  WITH NOCHECK ADD  CONSTRAINT [FK_GE_TPRODUCTOSITEMS_CUENTAS] FOREIGN KEY([prit_cuenta])
REFERENCES [dbo].[GE_TCUENTAS] ([cuen_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPRODUCTOSITEMS] NOCHECK CONSTRAINT [FK_GE_TPRODUCTOSITEMS_CUENTAS]
GO
ALTER TABLE [dbo].[GE_TPRODUCTOSITEMS]  WITH NOCHECK ADD  CONSTRAINT [FK_GE_TPRODUCTOSITEMS_PRODUCTO] FOREIGN KEY([prit_producto])
REFERENCES [dbo].[GE_TPRODUCTOS] ([prod_consecutivo])
GO
ALTER TABLE [dbo].[GE_TPRODUCTOSITEMS] NOCHECK CONSTRAINT [FK_GE_TPRODUCTOSITEMS_PRODUCTO]
GO
ALTER TABLE [dbo].[GE_TSALIDAPRESUPUESTO]  WITH CHECK ADD  CONSTRAINT [FK_GE_TSALIDAPRESUPUESTO_CCOSTO] FOREIGN KEY([sali_centrocosto])
REFERENCES [dbo].[GE_TCENTROSCOSTOS] ([cost_consecutivo])
GO
ALTER TABLE [dbo].[GE_TSALIDAPRESUPUESTO] CHECK CONSTRAINT [FK_GE_TSALIDAPRESUPUESTO_CCOSTO]
GO
ALTER TABLE [dbo].[GE_TSALIDAPRESUPUESTO]  WITH CHECK ADD  CONSTRAINT [FK_GE_TSALIDAPRESUPUESTO_PERIODO] FOREIGN KEY([sali_periodo])
REFERENCES [dbo].[GE_TPERIODOPRESUPUESTO] ([peri_consecutivo])
GO
ALTER TABLE [dbo].[GE_TSALIDAPRESUPUESTO] CHECK CONSTRAINT [FK_GE_TSALIDAPRESUPUESTO_PERIODO]
GO
ALTER TABLE [dbo].[GE_TSALIDAPRESUPUESTO]  WITH CHECK ADD  CONSTRAINT [FK_GE_TSALIDAPRESUPUESTO_PERSONA] FOREIGN KEY([sali_persona])
REFERENCES [dbo].[GE_TPERSONAS] ([pers_consecutivo])
GO
ALTER TABLE [dbo].[GE_TSALIDAPRESUPUESTO] CHECK CONSTRAINT [FK_GE_TSALIDAPRESUPUESTO_PERSONA]
GO
ALTER TABLE [dbo].[GE_TSALIDAPRESUPUESTO]  WITH CHECK ADD  CONSTRAINT [FK_GE_TSALIDAPRESUPUESTO_PRODUCTOITEM] FOREIGN KEY([sali_producto_item])
REFERENCES [dbo].[GE_TPRODUCTOSITEMS] ([prit_consecutivo])
GO
ALTER TABLE [dbo].[GE_TSALIDAPRESUPUESTO] CHECK CONSTRAINT [FK_GE_TSALIDAPRESUPUESTO_PRODUCTOITEM]
GO
ALTER TABLE [dbo].[GE_TUSUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUA_PARM_TIPOUSUARIO] FOREIGN KEY([PARM_TIPOUSUARIO])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TUSUARIOS] CHECK CONSTRAINT [FK_USUA_PARM_TIPOUSUARIO]
GO
ALTER TABLE [dbo].[GE_TUSUARIOSXROL]  WITH CHECK ADD  CONSTRAINT [FK_USXR_ROLM_CONSECUTIVO] FOREIGN KEY([rolm_consecutivo])
REFERENCES [dbo].[GE_TROLES] ([rolm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TUSUARIOSXROL] CHECK CONSTRAINT [FK_USXR_ROLM_CONSECUTIVO]
GO
ALTER TABLE [dbo].[GE_TUSUARIOSXROL]  WITH CHECK ADD  CONSTRAINT [FK_USXR_USUA_USUARIO] FOREIGN KEY([usua_usuario])
REFERENCES [dbo].[GE_TUSUARIOS] ([USUA_USUARIO])
GO
ALTER TABLE [dbo].[GE_TUSUARIOSXROL] CHECK CONSTRAINT [FK_USXR_USUA_USUARIO]
GO
ALTER TABLE [dbo].[GE_TVARECONOMICAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TVARECONOMICAS_MES] FOREIGN KEY([vari_mes])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TVARECONOMICAS] CHECK CONSTRAINT [FK_GE_TVARECONOMICAS_MES]
GO
ALTER TABLE [dbo].[GE_TVARECONOMICAS]  WITH CHECK ADD  CONSTRAINT [FK_GE_TVARECONOMICAS_MONEDA] FOREIGN KEY([vari_tipo_moneda])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[GE_TVARECONOMICAS] CHECK CONSTRAINT [FK_GE_TVARECONOMICAS_MONEDA]
GO
ALTER TABLE [dbo].[PARAMETROSGRALES]  WITH CHECK ADD  CONSTRAINT [FK_PMGR_PARM_GRUPO] FOREIGN KEY([parm_grupo])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[PARAMETROSGRALES] CHECK CONSTRAINT [FK_PMGR_PARM_GRUPO]
GO
ALTER TABLE [dbo].[PARAMETROSGRALES]  WITH CHECK ADD  CONSTRAINT [FK_PMGR_PARM_TIPODATO] FOREIGN KEY([parm_tipodato])
REFERENCES [dbo].[GE_TPARAMETROS] ([parm_consecutivo])
GO
ALTER TABLE [dbo].[PARAMETROSGRALES] CHECK CONSTRAINT [FK_PMGR_PARM_TIPODATO]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo dado a una agrupacion de parametros relaciondos entre si (lista)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TCLASESPARAMETROS', @level2type=N'COLUMN',@level2name=N'clap_clase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del grupo de parametros en nemotecnico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TCLASESPARAMETROS', @level2type=N'COLUMN',@level2name=N'clap_nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion del grupo de parametros' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TCLASESPARAMETROS', @level2type=N'COLUMN',@level2name=N'clap_descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha desde la que tiene vigencia el grupo de parametros' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TCLASESPARAMETROS', @level2type=N'COLUMN',@level2name=N'clap_fechaini'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha hasta la que tiene vigencia el grupo de parametros' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TCLASESPARAMETROS', @level2type=N'COLUMN',@level2name=N'clap_fechafin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del grupo de parametros (1 = Activo, 0 = Inactivo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TCLASESPARAMETROS', @level2type=N'COLUMN',@level2name=N'clap_estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parametros Generales del Sistema (Tipo Lista)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TCLASESPARAMETROS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Consecutivo que identifica el registro en la tabla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TDOMINIOS', @level2type=N'COLUMN',@level2name=N'domi_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del dominio' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TDOMINIOS', @level2type=N'COLUMN',@level2name=N'domi_nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del registro (1 = Activo, 0 = Inactivo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TDOMINIOS', @level2type=N'COLUMN',@level2name=N'domi_estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que se inserta el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TDOMINIOS', @level2type=N'COLUMN',@level2name=N'domi_fecha'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del grupo del directorio activo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TDOMINIOS', @level2type=N'COLUMN',@level2name=N'domi_grupo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parametrizacion de los grupos del directorio activo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TDOMINIOS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Consecutivo que identifica el registro en la tabla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Opcion padre de la que depende la actual opcion (para el encadenamiento del menu)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_idpadre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la forma o pagina' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_idonma'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador padre de la cual depende la forma' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_idpadreonma'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del objeto que contiene la forma, por ejemplo un boton un un campo de texto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_idobjetoonma'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Titulo que va a contener el menu o forma' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_titulo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion general de la opcion de menu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Direccion o URL del formulario al que va a referenciar una vez se oprima la opcion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'URL de la imagen que se va a aplicar a la opcion para visualizar en la barra de menu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_ruta_imagen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del registro (1 = Activo, 0 = Inactivo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creacion del registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_fecha'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de actualizacion de registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_fecha_act'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tipo de registro (FORMA, OBJETO o MENU)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_tipo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que creo el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que actualizo el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU', @level2type=N'COLUMN',@level2name=N'opcm_usuario_act'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parametrizacion de las opciones de menu de la aplicacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Consecutivo que identifica el registro en la tabla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENUXROL', @level2type=N'COLUMN',@level2name=N'opcr_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del rol' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENUXROL', @level2type=N'COLUMN',@level2name=N'rolm_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del menu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENUXROL', @level2type=N'COLUMN',@level2name=N'opcm_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha inserción registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENUXROL', @level2type=N'COLUMN',@level2name=N'opcr_fecha'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que inserta el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENUXROL', @level2type=N'COLUMN',@level2name=N'opcr_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parametrizacion de los permisos de los roles a un menu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TOPCIONESMENUXROL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Consecutivo que identifica el registro en la tabla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TPARAMETROS', @level2type=N'COLUMN',@level2name=N'parm_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del grupo de parametros al que pertenece el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TPARAMETROS', @level2type=N'COLUMN',@level2name=N'clap_clase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion del parametro individual' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TPARAMETROS', @level2type=N'COLUMN',@level2name=N'parm_descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha desde la que tiene vigencia el parametro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TPARAMETROS', @level2type=N'COLUMN',@level2name=N'parm_fechadesde'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha hasta la que tiene vigencia el parametro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TPARAMETROS', @level2type=N'COLUMN',@level2name=N'parm_fechahasta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del parametro (1 = Activo, 0 = Inactivo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TPARAMETROS', @level2type=N'COLUMN',@level2name=N'parm_estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo comodin utilizado para almacenar informacion adicional multiproposito' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TPARAMETROS', @level2type=N'COLUMN',@level2name=N'parm_infoadicional'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del parametro individual' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TPARAMETROS', @level2type=N'COLUMN',@level2name=N'parm_codigo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Detalle de los Parametros Generales del Sistema (Tipo Lista)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TPARAMETROS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Consecutivo que identifica el registro en la tabla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES', @level2type=N'COLUMN',@level2name=N'rolm_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del Rol' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES', @level2type=N'COLUMN',@level2name=N'rolm_nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion general del rol' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES', @level2type=N'COLUMN',@level2name=N'rolm_descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del registro (1 = Activo, 0 = Inactivo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES', @level2type=N'COLUMN',@level2name=N'rolm_estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que se inserta el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES', @level2type=N'COLUMN',@level2name=N'rolm_fecha'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que se actualiza el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES', @level2type=N'COLUMN',@level2name=N'rolm_fecha_act'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del usuario que inserta el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES', @level2type=N'COLUMN',@level2name=N'rolm_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del usuario que actualiza el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES', @level2type=N'COLUMN',@level2name=N'rolm_usuario_act'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del grupo al que se le asigna el rol' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES', @level2type=N'COLUMN',@level2name=N'rolm_grupo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del dominio del grupo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES', @level2type=N'COLUMN',@level2name=N'rolm_dominio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parametrizacion de los roles de la aplicacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TROLES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_USUARIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre de usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_USERNAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contrasena encriptada del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_CLAVE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dominio al que pertenece el usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_DOMINIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que se realizo el registro del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_FECHA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hora en la que se realizo el registro del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_HORA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado en el que se encuentra el usuario (1 = Activo, 0 = Inactivo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_ESTADO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'No es esta utilizando, para uso futuro de ser necesario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_ENCRIPTA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que vence de la clave el usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_FECHAVENCE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que se cambio la contrasena' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_FECHACAMBIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que se actualizo el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_FECHA_ACT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que inserto el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_USUARIO_INS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que realizo actualizacion del registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_USUARIO_ACT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del tipo de usuario (Administrador, Prueba)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'PARM_TIPOUSUARIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que indica si el usuario se validara contra el directorio activo o no (S = si, N = No)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS', @level2type=N'COLUMN',@level2name=N'USUA_VALIDALDAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parametrizacion de los usuarios del sistema' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Consecutivo que identifica el registro en la tabla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que realiza el ingreso' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usua_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de ingreso a la aplicacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_fecha_ingreso'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de salida de la alicacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_fecha_salida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del registro (1 = Activo, 0 = Inactivo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Forma como se realizo la salida de la aplicacion. App = Desde la aplicacion o por Desbloqueo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_tipo_salida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del host desde el cual se ingresa a la aplicacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_hostname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IP del host desde donde se ingresa a la aplicacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_ip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre y Version del Browser desde el cual se ingresa a la aplicacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_browser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que realiza el desbloqueo (si aplica)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_usuario_desbloqueo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Patron para identificar la session' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_guid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IP del host antes del proxy desde donde se accede a la aplicacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS', @level2type=N'COLUMN',@level2name=N'usac_ipantesproxy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla para registrar los accesos de los usuarios en la aplicacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOS_ACCESOS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Consecutivo que identifica el registro en la tabla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOSXROL', @level2type=N'COLUMN',@level2name=N'usxr_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del rol' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOSXROL', @level2type=N'COLUMN',@level2name=N'rolm_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOSXROL', @level2type=N'COLUMN',@level2name=N'usua_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del registro (1= Activo ; 0= Inactivo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOSXROL', @level2type=N'COLUMN',@level2name=N'usxr_estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en la que se inserta el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOSXROL', @level2type=N'COLUMN',@level2name=N'usxr_fecha'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en la que se actualiza el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOSXROL', @level2type=N'COLUMN',@level2name=N'usxr_fecha_act'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que inserta el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOSXROL', @level2type=N'COLUMN',@level2name=N'usxr_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que actualiza el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOSXROL', @level2type=N'COLUMN',@level2name=N'usxr_usuario_act'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Asignacion de un usuario a uno o varios Roles' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GE_TUSUARIOSXROL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre de la variable que se quiere parametrizar. Nemotecnico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROSGRALES', @level2type=N'COLUMN',@level2name=N'pmgr_parametro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion del parametro general' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROSGRALES', @level2type=N'COLUMN',@level2name=N'pmgr_descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROSGRALES', @level2type=N'COLUMN',@level2name=N'pmgr_estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica a que grupo de variables pertence el registro. Clase 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROSGRALES', @level2type=N'COLUMN',@level2name=N'parm_grupo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica el tipo de dato al que pertenece el parametro. Clase 2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROSGRALES', @level2type=N'COLUMN',@level2name=N'parm_tipodato'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parametros Generales del Sistema (Tipo Variable)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROSGRALES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Consecutivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VLRSPRMGRALES', @level2type=N'COLUMN',@level2name=N'vhpg_consecutivo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del parametro en Nemotecnico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VLRSPRMGRALES', @level2type=N'COLUMN',@level2name=N'pmgr_parametro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha desde la cual se encuentra disponible el parametro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VLRSPRMGRALES', @level2type=N'COLUMN',@level2name=N'vhpg_fecdesde'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha hasta la cual se encuentra disponible el parametro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VLRSPRMGRALES', @level2type=N'COLUMN',@level2name=N'vhpg_fechasta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del parametro (1 = Activo, 0 = Inactivo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VLRSPRMGRALES', @level2type=N'COLUMN',@level2name=N'vhpg_estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor del parametro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VLRSPRMGRALES', @level2type=N'COLUMN',@level2name=N'vhpg_valor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valores de los Parametros Generales del Sistema (Tipo Variable)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VLRSPRMGRALES'
GO
